<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Autotechs">
        <activity
            android:name=".inicio"
            android:exported="false" />
        <activity
            android:name=".registrarse"
            android:exported="false" />
        <activity
            android:name=".iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".ClientesActivity"
            android:exported="false"
            android:label="Clientes" />
        <activity
            android:name=".Vehiculos"
            android:exported="false"
            android:label="Vehiculos" />
        <activity
            android:name=".Siniestros"
            android:exported="false"
            android:label="Siniestros" />
        <activity
            android:name=".Inventario"
            android:exported="false"
            android:label="Inventario" />
        <activity
            android:name=".Facturacion"
            android:exported="false"
            android:label="Facturacion" />

        <activity android:name=".Clientes_crud" />
        <activity android:name=".Vehiculos_crud" />
        <activity android:name=".Siniestros_crud" />
        <activity android:name=".Inventario_crud" />
        <activity android:name=".Facturacion_crud" />

        <activity android:name=".Clientes_editar" />
        <activity android:name=".Vehiculos_editar" />
        <activity android:name=".Siniestros_editar" />
        <activity android:name=".Inventario_editar" />
        <activity android:name=".Facturacion_editar" />




        <activity
            android:name=".MainActivity"
            android:exported="true">



            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>