<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Autotechs">
        <activity
            android:name=".ui.inicio"
            android:exported="false" />
        <activity
            android:name=".ui.registrarse"
            android:exported="false" />
        <activity
            android:name=".ui.iniciar_sesion"
            android:exported="false" />
        <activity
            android:name=".ui.CrearDuenoActivity"
            android:exported="false"
            android:label="Crear Dueño" />
        <activity
            android:name=".ui.ClientesActivity"
            android:exported="false"
            android:label="Clientes" />
        <activity
            android:name=".ui.Vehiculos"
            android:exported="false"
            android:label="Vehiculos" />
        <activity
            android:name=".ui.Siniestros"
            android:exported="false"
            android:label="Siniestros" />
        <activity
            android:name=".ui.Inventario"
            android:exported="false"
            android:label="Inventario" />
        <activity
            android:name=".ui.Facturacion"
            android:exported="false"
            android:label="Facturacion" />

        <activity android:name=".ui.Clientes_crud" />
        <activity android:name=".ui.Vehiculos_crud" />
        <activity android:name=".ui.Siniestros_crud" />
        <activity android:name=".ui.Inventario_crud" />
        <activity android:name=".ui.Facturacion_crud" />

        <activity android:name=".ui.Clientes_editar" />
        <activity android:name=".ui.Vehiculos_editar" />
        <activity android:name=".ui.Siniestros_editar" />
        <activity android:name=".ui.Inventario_editar" />
        <activity android:name=".ui.Facturacion_editar" />

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.TallerMonitorActivity" android:exported="false" />
        <activity android:name=".ui.FacturacionActivity" android:exported="false" />
        <activity android:name=".ui.QuejasActivity" android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
